.gallery{
  padding: 30px 24px;
  background-color: #F1F2F4;
  column-count: 2;

  .item{
    break-inside: avoid;
    border-radius: 10px;
    position: relative;
    background-color: #F1F2F4;
    box-shadow: -2px 2px 2px 2px rgba(0,0,0,.04);
    margin-bottom: 20px;
    
  }

  .text{
    padding-left: 16px;
    margin-bottom: 10px;
    font-size: 32px;
    color: #2E3242;
  }
  .num {
    padding-left: 16px;
    font-size: 28px;
    padding-bottom: 16px;
    color: #999;
  }
}

.gallery .img {
  width: 100%;
  margin-bottom: 20px;    // 图片间距
  height:300px;
}